body {
  color: var(--main-text-color);
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
  margin: 0;
  background-color: var(--maim-bg-color);
}

use {
  pointer-events: none;
}

.overflov {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: var(--main-text-color);
}

.is-hiden-non {
  display: none;
}

// .is-open {
//   display: block;
//   opacity: 0;
// }

// .visually-hidden {
//   position: absolute !important;
//   clip: rect(1px 1px 1px 1px);
//   clip: rect(1px, 1px, 1px, 1px);
//   padding: 0 !important;
//   border: 0 !important;
//   height: 1px !important;
//   width: 1px !important;
//   overflow: hidden;
// }
