:root {
  --main-text-color: #ffffff;
  --second-text-color: #8c8c8c;
  --main-accente-color: #36b6ff;
  --second-accente-color: #111111;

  --maim-bg-color: #0e4166;
  --second-bg-color: #082941;
  --accente-bg-color: #081f31;

  --grid-item: 1;
  --grid-margin: 30px;
}
