:root {
  --main-text-color: #ffffff;
  --main-title-color: #ffffff;

  --main-accente-color: #36b6ff;
  --maim-bg-color: #1e1e1e;

  --accente-bg-color: rgba(71, 71, 71, 0.5);

  --grid-item: 1;
  --grid-margin: 30px;

  // --transform-time: 250ms;
}
