:root {
  --main-text-color: #757575;
  --main-title-color: #212121;
  --main-accente-color: #2196f3;
  --white-color: #ffffff;
  --maim-bg-color: #f5f4fa;
  --accente-bg-color: #2f303a;
  --main-icon-color: #afb1b8;

  --grid-item: 1;
  --grid-margin: 30px;

  --transform-time: 250ms;
}
