.bg-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;

  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}
