.advances {
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
  z-index: 100;

  &__container {
    position: relative;
    z-index: 100;
  }
}

.advances::after {
  content: '';
  background-image: url(../images/water/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: -124px;
  left: -148px;
  width: 1000px;
  height: 1000px;
  z-index: 1;
  opacity: 0.7;

  @media screen and (max-width: 1122px) {
    width: 800px;
    height: 800px;
    top: -100px;
    left: -120px;
  }

  @media screen and (max-width: 767px) {
    width: 360px;
    height: 400px;
    top: -45px;
    left: -54px;
  }
}

.advances::before {
  content: '';
  background-image: url(../images/advances/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: 122px;
  left: 50%;
  transform: translateX(-50%);
  width: 1094px;
  height: 400px;
  z-index: 1;
  // opacity: 0.7;
}

.advances .grid-item {
  @media screen and (min-width: 768px) {
    --grid-item: 2;
  }

  @media screen and (min-width: 1123px) {
    --grid-item: 3;
  }
}

.advances__title.title {
  text-align: center;
  padding-bottom: 70px;

  @media screen and (max-width: 1122px) and (min-width: 480px) {
    font-size: 52px;
  }

  @media screen and (max-width: 480px) {
    font-size: 42px;
  }
}

.advances__chief {
  background: var(--second-bg-color);
  border: 1.4px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 14px 14px 14px 14px;
  margin-bottom: 30px;
  position: relative;
  z-index: 100;
}

.advances__chief:hover {
  background: var(--accente-bg-color);
}

.chief__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 12px;
}

.hief__title-blue {
  color: var(--main-accente-color);
}

.chief__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 162.52%;
  color: var(--main-text-color);
  text-align: center;
  opacity: 0.3;
}

.advances__list {
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.cards__body {
  background: #1d1d1d;
  border: 1.4px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 28px 24px 28px 24px;
}

.cards__body:hover {
  background: var(--accente-bg-color);
}

.card__img {
  width: 100px;
  height: 100px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
}

.card__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 24px;
}

.card__text {
  font-weight: 500;
  line-height: 162.52%;
  opacity: 0.3;
}
