.footer {
  position: relative;
  z-index: 100;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #111111;

  @media screen and (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__logo {
    width: 200px;

    @media screen and (max-width: 1122px) {
      width: 150px;
    }
  }

  &__title {
    font-size: 26px;
    margin-bottom: 15px;
    text-align: center;

    @media screen and (max-width: 480px) {
      padding-top: 10px;
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }

    @media screen and (max-width: 1122px) and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-right: 15px;
    }
  }

  &__contact {
    flex-direction: row;
    font-size: 14px;
    justify-content: center;

    @media screen and (max-width: 480px) {
      display: flex;
      margin-top: 15px;
      margin: 0;
      justify-content: center;
    }

    // @media screen and (max-width: 768px) {
    //   flex-direction: column;
    //   justify-content: center;
    // }
  }

  // &__contact:not(:last-child) {
  //   margin-right: 15px;
  // }

  // &__contact:not(:last-child) {
  //   margin-right: 15px;
  // }

  &__list {
    @media screen and (max-width: 768px) {
      display: flex;
      padding-top: 20px;
    }
  }

  &__item:not(:last-child) {
    padding-bottom: 15px;
  }

  &__link {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link svg {
    margin-right: 10px;
  }

  &__link:hover {
    color: var(--main-accente-color);
  }

  &__box {
    display: flex;
    justify-content: space-between;
    flex-basis: calc(60% - 50px);
    flex-direction: row-reverse;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @media screen and (max-width: 480px) {
      flex-direction: column-reverse;
    }
  }

  &__adres {
    padding-bottom: 24px;
  }
}

.contact {
  &__item:not(:last-child) {
    padding-bottom: 10px;
    padding-right: 15px;
  }

  &__link {
    // font-size: 20px;

    @media screen and (max-width: 1122px) {
      font-size: 14px;
    }
  }
}

.social-list {
  display: flex;
}
.social-item {
  margin-right: 20px;
  text-align: center;

  @media screen and (max-width: 1122px) {
    // margin-right: 0px;
    margin-bottom: 10px;
  }
}

.social-list {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (max-width: 480px) {
    padding-top: 10px;
  }

  // @media screen and (max-width: 1122px) {
  //   flex-direction: column;
  // }
}

.social-icon {
  width: 40px;
  height: 40px;
  fill: var(--main-text-color);
}

.social-icon:hover {
  fill: var(--main-accente-color);
}

.box-footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
}

// .footer-social-list {
//   margin-right: 15px;
// }
