.header {
  height: 134px;
  background: var(--second-accente-color);
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 150px;
  transition: all 300ms linear;
}

.logo:hover {
  transform: scale(1.2);
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__list {
  display: flex;
  @media screen and (max-width: 1122px) {
    display: none;
  }
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__item:not(:last-child) {
  padding-right: 41px;
}

.header__link {
  position: relative;
  z-index: 100;
  font-weight: 600;
  font-size: 16px;
  line-height: 162.52%;
  text-align: center;
  transition: color 300ms;
}

.header__link:hover {
  color: var(--main-accente-color);
}

.contact {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.contact__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 162.52%;
  text-align: center;
  color: var(--main-text-color);
  transition: color 300ms;
}

.contact__link-blue {
  color: var(--main-accente-color);
}

.contact__link:hover {
  color: var(--main-accente-color);
}

.header__button {
  display: flex;
  align-items: center;
}

.button {
  position: relative;
  z-index: 100;
  font-weight: 600;
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  border: 2px solid var(--main-text-color);
  padding: 14px 35px 14px 35px;
  transition: all 300ms;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    padding: 10px 20px 10px 20px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.button:hover {
  border: 2px solid var(--main-accente-color);
  transform: scale(1.2);
}

.icon {
  width: 30px;
  height: 30px;
  fill: #fff;
  transition: fill 300ms linear;
}

.icon:hover {
  fill: var(--main-accente-color);
}

.icon-box {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1122px) {
    display: none;
  }
}
