.hero {
  background: #111111;
  // background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  padding-top: 180px;
  padding-bottom: 230px;

  @media screen and (max-width: 1122px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 110px;
  }
}

.hero__container {
  position: relative;

  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.hero__content {
  max-width: 571px;
  position: relative;
  z-index: 100;
  @media screen and (max-width: 1122px) {
    max-width: 500px;
  }
  @media screen and (max-width: 1122px) {
    padding-bottom: 70px;
  }
}

.title {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 66px;
  line-height: 147.52%;
  color: var(--main-text-color);
}

.hero__title {
  padding-bottom: 36px;

  @media screen and (max-width: 1122px) and (min-width: 480px) {
    font-size: 52px;
  }

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (max-width: 480px) {
    font-size: 42px;
  }
}

.hero__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 162.52%;
  color: var(--main-text-color);
  opacity: 0.3;
  max-width: 400px;

  @media screen and (max-width: 767px) {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.hero__images {
  position: relative;
  max-width: 467px;
  z-index: 111;
}

.hero__images img {
  position: relative;
  z-index: 100;
  max-width: 467px;
}

.fon {
  position: absolute;
  top: -230px;
  left: 370px;
  max-width: 800px;
  z-index: 1;

  @media screen and (max-width: 1122px) {
    top: -120px;
  }

  @media screen and (max-width: 767px) {
    top: 270px;
    left: -60px;
    display: none;
  }

  @media screen and (max-width: 479px) {
    display: none;
  }
}
