.price {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container {
}
.price__container {
}
.title {
}
.price__title {
  padding-bottom: 30px;
}
.price__list {
}

.price__item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.item-box {
  display: flex;
  justify-content: space-between;
}
.item-box__text {
}
.item-box__price {
}
