.team {
  padding-bottom: 100px;

  background-image: url(../images/water/6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0px;
  background-position-y: 60px;
}

.team .grid-item {
  @media screen and (min-width: 768px) {
    --grid-item: 2;
  }

  @media screen and (min-width: 1123px) {
    --grid-item: 3;
  }
}
.team__title {
  text-align: center;

  text-align: center;
  padding-bottom: 70px;

  @media screen and (max-width: 1122px) and (min-width: 480px) {
    font-size: 52px;
  }

  @media screen and (max-width: 480px) {
    font-size: 42px;
  }
}

.team__body {
  display: flex;
  border-radius: 14px;
  padding: 10px 18px 10px 18px;

  background: var(--second-bg-color);
  border: 1.4px solid rgba(255, 255, 255, 0.1);
}

.team__body:hover {
  background: var(--accente-bg-color);
}

.body__img {
  display: flex;
  align-items: center;
}

.body__img img {
  width: 100px;
  margin-right: 22px;
  border-radius: 50%;
}

.body__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  padding-bottom: 6px;
}

.body__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  opacity: 0.3;
}
